<template>
  <tr>
    <td>{{ item.name }}</td>
    <td>RM {{ item.price }}</td>
    <td>
      <input
        type="number"
        pattern="\d*"
        :id="item.name"
        v-model="quantity"
        v-on:keyup="updateOrder"
        v-on:change="updateOrder"
      />
    </td>
  </tr>
  <!-- <p>{{ item.name }} RM {{ item.price }}</p> -->
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Item",
  props: {
    msg: String,
    item: Object,
  },
  data() {
    return {
      quantity: null,
    };
  },
  methods: {
    updateOrder() {
      if (!this.item) {
        console.log("No item is available.");
        return;
      }
      const update = {
        name: this.item.name,
        quantity: this.quantity,
      };

      this.$emit("updateOrder", update);
    },
  },
});
</script>