<template>
  <slot></slot>
  <div>
    <table>
      <tbody>
        <tr
          v-for="order in orderList.slice().reverse()"
          :key="order.clientName"
        >
          <td>{{ order.clientName }}</td>
          <td>{{ order.clientPhone }}</td>
          <td>{{ order.clientAddress }}</td>
          <td>
            <ul>
              <li v-for="item in order.currentOrder" :key="item.name">
                {{ item.name }} {{ item.quantity }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import db from "../db";

export default defineComponent({
  name: "Item",
  data() {
    return {
      orderList: [{}],
    };
  },
  methods: {
    updateOrderList(orderList: Record<string, any>) {
      console.log(0);
      console.log(orderList);
      console.log(this.orderList);
      this.orderList.push(orderList);
    },
  },
  mounted() {
    db.ref("orders/").on("child_added", (snapshot) => {
      const newPost = snapshot.val();

      this.updateOrderList(newPost);
    });
  },
});
</script>