<template>
  <h1>Faris Enterprise</h1>
  <span
    ><button>Home</button
    ><button @click="$emit('changeRoute', 'main')">Order</button
    ><button @click="$emit('changeRoute', 'list')">
      Order List (admin)
    </button></span
  >
  <slot></slot>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Item",
  emits: ["changeRoute"],
});
</script>