
<template>
  <!-- REFACTOR: This is temporary. A proper router will be implemented later. -->
  <Page @changeRoute="changeRoute">
    <div v-if="route == 'main'">
      <form @submit.prevent="submitOrder">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td></td>
              <td><input required type="text" v-model="clientName" /></td>
            </tr>
            <tr>
              <td>Phone</td>
              <td></td>
              <td><input required type="text" v-model="clientPhone" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td></td>
              <td><input required type="email" v-model="clientAddress" /></td>
            </tr>

            <!-- decompose later into ItemGroup and Item -->
            <Item
              v-for="item in items"
              :key="item.name"
              :item="item"
              @updateOrder="updateOrder"
            />
          </tbody>
        </table>
        <button type="submit">Submit</button>
        <p>
          {{ message }}
        </p>
      </form>
    </div>
    <div v-if="route == 'list'">
      <List />
    </div>
  </Page>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import Item from "./components/Item.vue";
import Page from "./components/Page.vue";
import List from "./components/List.vue";
import items from "./items";
import db from "./db";

export default defineComponent({
  name: "App",
  data() {
    const currentOrder = items.map((el) => ({ ...el, quantity: 0 }));
    return {
      message: "",
      items,
      currentOrder,
      route: "list",

      // this can be grouped
      clientName: "",
      clientPhone: "",
      clientAddress: "",
    };
  },
  components: {
    Item,
    Page,
    List,
  },
  methods: {
    updateOrder(updatedOrder: Record<string, any>) {
      const updateIndex = this.currentOrder.findIndex(
        (el) => el.name == updatedOrder.name
      );

      this.currentOrder[updateIndex].quantity = updatedOrder.quantity;
      console.log(this.currentOrder);
    },
    submitOrder() {
      const { clientName, clientPhone, clientAddress, currentOrder } = this;
      if (currentOrder.every((el) => el.quantity == 0)) {
        this.message = "You must order at least one item";
        return;
      }
      db.ref("orders/").push().set({
        clientName,
        clientPhone,
        clientAddress,
        currentOrder,
      });
    },
    changeRoute(route: string) {
      this.route = route;
      console.log(this.route);
    },
  },
});
</script>